In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [8]:
# Define the file path
file_path = '../dataset/features-training.csv'

# Define the desired subsampling ratio
subsampling_ratio = 0.1  # 1/10 of the rows

# Read the CSV file
feature_training = pd.read_csv(file_path)

# Subsample the dataframe
feature_training_subsampled = feature_training.sample(frac=subsampling_ratio, random_state=42)

# Now `feature_training_subsampled` contains the subsampled data

In [12]:
feature_training_subsampled.to_csv('../dataset/features-training-subsampled.csv', index=False)

In [10]:
feature_training.describe()

,id,geonames_id,lat,lon,surface_total_in_m2,surface_covered_in_m2,floor,rooms,expenses
count,8.557058e+06,0.0,4.238619e+06,4.238638e+06,2.070178e+06,6.516761e+06,3.755550e+05,5.619025e+06,2.856259e+06
mean,6.112109e+06,NaN,-2.367530e+01,-4.674307e+01,3.395280e+02,1.840360e+03,4.190223e+04,1.988977e+00,2.282539e+03
std,3.528097e+06,NaN,4.380587e+00,3.183312e+00,2.784893e+03,1.881101e+06,9.341349e+06,1.500391e+00,5.502898e+04
min,1.000000e+00,NaN,-3.827269e+01,-1.194179e+02,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,3.057326e+06,NaN,-2.371169e+01,-4.706086e+01,7.200000e+01,6.500000e+01,3.000000e+00,1.000000e+00,3.500000e+02
50%,6.112360e+06,NaN,-2.359399e+01,-4.665560e+01,1.250000e+02,9.900000e+01,5.000000e+00,2.000000e+00,5.600000e+02
75%,9.167393e+06,NaN,-2.325489e+01,-4.650193e+01,2.460000e+02,1.700000e+02,1.000000e+01,2.000000e+00,9.500000e+02
max,1.222358e+07,NaN,3.765155e+01,1.000000e+00,2.000000e+05,2.147484e+09,2.147484e+09,4.000000e+01,9.691000e+06

In [11]:
feature_training_subsampled.describe()

,id,geonames_id,lat,lon,surface_total_in_m2,surface_covered_in_m2,floor,rooms,expenses
count,8.557060e+05,0.0,424538.000000,424539.000000,207082.000000,6.518320e+05,37425.000000,561951.000000,2.854510e+05
mean,6.112836e+06,NaN,-23.683276,-46.750491,336.929047,1.775279e+02,11.079332,1.988958,2.195117e+03
std,3.529738e+06,NaN,4.373128,3.184988,2725.013653,7.392996e+03,169.109063,1.497450,5.302153e+04
min,3.000000e+00,NaN,-33.692432,-110.900421,0.000000,0.000000e+00,1.000000,1.000000,1.000000e+00
25%,3.055647e+06,NaN,-23.711686,-47.061491,72.000000,6.500000e+01,3.000000,1.000000,3.500000e+02
50%,6.116405e+06,NaN,-23.593718,-46.655941,125.000000,9.800000e+01,6.000000,2.000000,5.600000e+02
75%,9.166176e+06,NaN,-23.269075,-46.502363,247.000000,1.700000e+02,10.000000,2.000000,9.500000e+02
max,1.222358e+07,NaN,37.648908,0.002000,200000.000000,4.821600e+06,27000.000000,40.000000,9.691000e+06

In [13]:
# Define the file path
file_path = '../dataset/features-test.csv'

# Define the desired subsampling ratio
subsampling_ratio = 0.1  # 1/10 of the rows

# Read the CSV file
feature_test = pd.read_csv(file_path)

# Subsample the dataframe
feature_test_subsampled = feature_test.sample(frac=subsampling_ratio, random_state=42)

# Now `feature_training_subsampled` contains the subsampled data

feature_test_subsampled.to_csv('../dataset/feature-test-subsampled.csv', index=False)

In [14]:
# Define the file path
file_path = '../dataset/target-training.csv'

# Define the desired subsampling ratio
subsampling_ratio = 0.1  # 1/10 of the rows

# Read the CSV file
target_training = pd.read_csv(file_path)

# Subsample the dataframe
target_training_subsampled = target_training.sample(frac=subsampling_ratio, random_state=42)

# Now `feature_training_subsampled` contains the subsampled data

target_training_subsampled.to_csv('../dataset/target-training-subsampled.csv', index=False)

In [1]:
#describe data
# print(train_data.describe())

#columns:

print("Number of columns: ", len(feature_training_subsampled.columns))
print(feature_training_subsampled.columns)

NameError: name 'feature_training_subsampled' is not defined

In [15]:
# types of columns:

cat_train = train_data[train_data.columns[train_data.dtypes == 'object']]
num_train = train_data[train_data.columns[train_data.dtypes != 'object']]

In [28]:
### Categorical Var:

for column in cat_train.columns:
    print(column, ' : ', cat_train[column].nunique())

property_id  :  1538378
created_on  :  1266
operation  :  1
property_type  :  4
place_name  :  5555
place_with_parent_names  :  7225
country_name  :  1
state_name  :  28
lat_lon  :  178885
currency  :  4
description  :  1440462
title  :  1097406
image_thumbnail  :  1614582
collected_on  :  38

In [37]:
print('operation: ',cat_train.operation.unique())
print('country_name: ',cat_train.country_name.unique())
print('currency: ',cat_train.currency.unique())

operation:  ['sell']
country_name:  ['Brasil']
currency:  ['BRL' 'MXN' 'USD' 'COP']

Podemos deletar as colunas *operation* e *country_name* que representam dados redundantes.

In [38]:
# Numerical Var:
for column in num_train.columns:
    print(column, ' : ', num_train[column].nunique())

id  :  8557058
geonames_id  :  0
lat  :  173054
lon  :  171656
surface_total_in_m2  :  3368
surface_covered_in_m2  :  2367
floor  :  304
rooms  :  37
expenses  :  4716

In [36]:
num_train.head(2)

,id,geonames_id,lat,lon,surface_total_in_m2,surface_covered_in_m2,floor,rooms,expenses
0,1,NaN,-22.792704,-47.085678,1200.0,420.0,NaN,4.0,NaN
1,2,NaN,-23.021658,-43.487136,134.0,134.0,NaN,1.0,NaN